<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Consulta dos dados da bolsa familía por município</title>
    <link href="style.css" rel="stylesheet"/>
</head>
<body>
    <h1>Consulta dos dados da bolsa familía por município</h1>
    <p>Essa aplicação realiza consulta da quantidade de recursos que cada munícipio utilizou, em determinada data,
        no programa Bolsa Família e a quantidade de beneficiados por esse programa.</p>

    <p>Para a realização da pesquisa será necessário código do munícipio e uma data.</p>
    <p>Uma lista com os códigos dos munícipios poderá ser encontrada <a href="https://www.ibge.gov.br/explica/codigos-dos-municipios.php">aqui</a></p>

    <h2>Exemplos de códigos de municípios:</h2>
    <ul>
        <li>São Paulo - 3550308</li>
        <li>Campo Grande - 2701506</li>
        <li>Rio de Janeiro - 3304557</li>
        <li>Vitória - 3205309</li>
        <li>Cuiabá - 5103403</li>
    </ul>

    <p>Para realisar a presquisa basta clicar <a href="/pesquisa">(Pesquisar)</a></p>
</body>
</html>